# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp

# Node.js
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
crash.log

# Docker
*.tar
*.img
.dockerignore

# Application logs
**/*.log
output.log

# Miscellaneous
.env
.env.*
*.bak
